/*Sidebars*/

.sidebar{
    padding-top: 50px;
    padding-bottom: 30px;
    list-style-type: none;
    
    @media (min-width: $screen-md-min){
        padding-top: 30px;
        padding-bottom: 50px;
        border-right: 1px solid $borders;
        padding-right: 0px;
    }
}


.sidebar ul li a{
    font-size: 13px;
}



.side_list{
    margin-bottom: 30px;
}

.primary_list{
    list-style-type: none;
    padding: 0px;
    //border-top: 1px solid $borders; //add if no h3s
}

.primary_list li  
{
    border-bottom: 1px solid $borders;
    border-left: 1px solid $borders;
    border-right: 1px solid $borders;
    
    @media (min-width: $screen-md-min){
        border-right: none;
        border-left: none;
    }
}

.primary_list li a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 0 10px 10px;
    color: #333;
    
    @media (min-width: $screen-md-min){
        padding: 10px 0;
    }
}

.primary_list li.page_item_has_children{
    position: relative;
}

.primary_list li.page_item_has_children i{
    position: absolute;
    display: block;
    right: 0px;
    top: 0px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-left: 1px solid $borders;
}

.sub_active{
    background: $greybg;
    }
    
.sub_active_sub{
    //background: $greybg;
    background: #22698d;
    } 

.primary_list li.page_item_has_children i:hover{
    cursor: pointer;
}

/*.primary_list ul.children li.page_item_has_children{
    display: none;
}*/

.primary_list ul.children li.page_item_has_children ul.children,
.primary_list ul.children li.page_item_has_children i
{
    display: none;
}

.primary_list ul.children{
    padding: 0px;
    list-style-type: none;
}

.primary_list ul.children li{
    border-bottom: 1px solid $darkborders;
}

.primary_list ul.children li:last-child{
    border-bottom: none;
}

.primary_list ul.children li a{
    background: $greybg;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    letter-spacing: .4px;
}

.primary_list .current_page_item a{
    color: $brand-primary;
}

.primary_list .current_page_item li a{
    font-weight: 300;
    color: #333;
}





//Custom side menus - taking same styling as normal side menu
.sidebar .widget_nav_menu .menu{
    @extend .primary_list;
}

.sidebar .widget_nav_menu .menu li{
    position: relative;
}

.sidebar .widget_nav_menu .menu li.parent_link i{
    position: absolute;
    display: block;
    right: 0px;
    top: 0px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-left: 1px solid $borders;
}

.sidebar .widget_nav_menu .menu li.parent_link i:hover{
    cursor: pointer;
}

.sidebar .widget_nav_menu .menu ul.sub-menu{
    padding: 0px;
    list-style-type: none;
}

.sidebar .widget_nav_menu .menu ul.sub-menu li{
    border-bottom: 1px solid $darkborders;
}

.sidebar .widget_nav_menu .menu ul.sub-menu li:last-child{
    border-bottom: none;
}

.sidebar .widget_nav_menu .menu ul.sub-menu li a{
    background: $greybg;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    letter-spacing: .4px;
}


.sidebar .widget_nav_menu .widgettitle{
    @extend .ancestor_title;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
    display: none !important;
}

.sidebar .widget_nav_menu{  
    margin-bottom: 30px;  
}



/*News sidebar*/

.sidebar .widget .widgettitle{
    @extend .ancestor_title;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
}

.sidebar .widget_recent_entries ul,
.sidebar .widget_archive ul
{
    @extend .primary_list;
    margin-bottom: 30px;
}



//3 level fixes
.sidebar li a.master_page{
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    border-bottom: 1px solid $borders;
}

.current_page_ancestor a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    color: #333;
    border-bottom: 1px solid $borders;
}

.current_page_ancestor ul a{
    border-bottom: none;
}

.ancestor_title{
    margin: 0px;
    display: block;
    width: 100%;
    padding: 10px 0;
    color: #333;
    margin: 0px;
    border-bottom: 1px solid $borders;
}

.ancestor_title a{
    color: #333;
}

//Second level

.second_list,
.second_list ul
{
    list-style-type: none;
    padding: 0px;
}

.second_list li
{
    //border-bottom: 1px solid $borders;
    border-bottom: 1px solid #22698d;
}

.second_list{   
    @media (min-width: $screen-md-min){
        padding-right: 20px; 
    }
}

.ancestor_title_sec{
    margin: 0px;
    display: block;
    width: 100%;
    color: #333;
    padding-right: 20px;
}

.ancestor_title_sec .inner{
    border-bottom: 1px solid $borders;
    padding: 10px 0;
}

.second_list li a
{
    background: $brand-primary;
    color: #fff;
    padding-left: 10px;
}

.second_list li.page_item_has_children
{
    border-bottom: none;
}

.visible_list li.page_item_has_children ul.children li a
{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    letter-spacing: .4px;
    //background: $greybg;
    background: #22698d;
    color: #fff;
}

.second_list li.page_item_has_children{
    position: relative;
}

.second_list li.page_item_has_children i{
    position: absolute;
    display: block;
    right: 0px;
    top: 0px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    //border-left: 1px solid $borders;
    border-left: 1px solid #22698d;
    color: #fff;
}

.second_list li.page_item_has_children i:hover{
    cursor: pointer;
}

.visible_list li.page_item_has_children a{
    //border-bottom: 1px solid $borders;
    border-bottom: 1px solid #22698d;
}

.visible_list li.page_item_has_children ul.children a{
    border-bottom: none;
}

.visible_list li.page_item_has_children ul.children li{
    //border-bottom: 1px solid $darkborders;
    border-bottom: 1px solid #1b5471;
}

.visible_list  .current_page_item a{
    //color: $brand-primary;
    color: #fff;
    font-weight: 500;
}

.visible_list  .current_page_item li a{
    font-weight: 300;
    color: #333;
}

.backlink{
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid $borders;
    display: block;
}



//Shop Sidebar Widget
.sidebar .widget_product_categories .product-categories{
    @extend .primary_list;
}

.sidebar .widget_product_categories .product-categories li.cat-parent{
    position: relative;
}

.sidebar .widget_product_categories .product-categories li.cat-parent i{
    position: absolute;
    display: block;
    right: 0px;
    top: 0px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-left: 1px solid $borders;
}

.sidebar .widget_product_categories .product-categories li.cat-parent i:hover{
    cursor: pointer;
}

.sidebar .widget_product_categories .product-categories li.cat-parent ul.children
{
    display: none;
}

.sidebar .widget_product_categories .product-categories li.cat-parent a{
    color: $brand-primary;
}

.sidebar .widget_product_categories .product-categories li.cat-parent li a{
    font-weight: 300;
    color: #333;
}

//Widgets are hidden on mobile but these custom menus use widgets so display these
#woocommerce_product_categories-2,
#nav_menu-7
{
    display: block !important;
}

//Hide 'company view' link in sidebar
.page-item-802{
   display: none; 
}



//Bread
.bread{
    @extend .col-md-12;
    font-size: 13px;
    letter-spacing: .4px;
}


.mobile_sub{
    width: 100%;
    padding: 10px;
    background: $brand-primary;
    color: #fff;
    position: relative;
    margin-bottom: 20px;
    @media (min-width: $screen-md-min){
        display: none;
    }
}

.mobile_sub:hover{
    cursor: pointer;
}

.mobile_sub i{
    position: absolute;
    display: block;
    right: 0px;
    top: 0px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-left: 1px solid #22698d;
    color: #fff;
}


.side_nav_toggle{
    display: none;
    @media (min-width: $screen-md-min){
        display: block;
    }
}

.nav_show_hide{
    display: block;
}

.side_foot{
    display: none;
    @media (min-width: $screen-md-min){
    position: absolute;
    position: fixed;
    bottom: -2000px;
    right: -1px;
    border-right: 1px solid #e2e2e2;
    height: 2200px;
    width: 1px;
    display: inline-block;
    }
}

.foot_line_wrap{
    position: relative;
}

.foot_line{
    display: none;
    @media (min-width: $screen-md-min){
    position: absolute;
    bottom: -300px;
    left: 322px;
    border-right: 1px solid #e2e2e2;
    height: 2200px;
    width: 1px;
    z-index: -1000 !important;
    display: inline-block;}
    @media (min-width: $screen-lg-min){
        left: 292px;
    }
    
    @media (min-width: $screen-xl-min){
        left: 356px;
    }
}

.pagehead-default{
    z-index: 5 !important;
}


.sidebar .widget{
    display: none;
    @media (min-width: $screen-md-min){
        display: block; 
    }
}


//Sidebar Duplicate Fixes-set all done in sidebar.php but some still showing.
.page-id-1838 .side_list,
.page-id-1838 .ancestor_main,
.page-id-1512 .side_list,
.page-id-1512 .ancestor_main
{
    display: none !important;
}


//Contractor search hide subs
.find-a-contractor .side_list li:first-child ul.children,
.find-a-contractor .side_list li:first-child i.fa-times,
.searchadvanced .side_list li:first-child ul.children,
.searchadvanced .side_list li:first-child i.fa-times,
.searchcompanyname .side_list li:first-child ul.children,
.searchcompanyname .side_list li:first-child i.fa-times,
.searchpostcode .side_list li:first-child ul.children,
.searchpostcode .side_list li:first-child i.fa-times,
.viewcompany .side_list li:first-child ul.children,
.viewcompany .side_list li:first-child i.fa-times
{
    display: none !important;
}
