.cta{
        background: $brand-primary;
        @include border-radius(4px);
        padding: 12px 20px;
        color: #fff;
        height: auto;
        @include transition(all .2s ease-in-out);
        display: inline-block;
}

.cta:hover{
        background: $brand-primary-dark;
        color: #fff;
}


.btn_line{
     @extend .cta;
     background: none;
     border: 2px solid $brand-primary;
     color: $brand-primary;
}

.btn_line:hover{
     background: none;
     border: 2px solid $brand-primary;
     color: $brand-primary;
}