/*Type*/
.scalableh1{
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    
    @media (min-width: $screen-xs-min){
        font-size: 36px;
        line-height: 46px;
        font-weight: 300;
    }
    
    @media (min-width: $screen-md-min){
        font-size: 44px;
        line-height: 56px;
    }
    
    @media (min-width: $screen-lg-min){
        font-size: 56px;
        line-height: 70px;
    }
    
}

/*Banner*/
.banner_wrap{
    @include coverbg;
    position: relative;
}

.banner_dark{
    width: 100%;
    height: 100%;
    //background: rgba(0,0,0,0.6);
    background: rgba(0,0,0,0.4);
    padding: 60px 30px;
    
    @media (min-width: $screen-xs-min){
        padding: 60px 40px;
    }
    
    @media (min-width: $screen-sm-min){
        padding: 80px 40px;
    }
    
    @media (min-width: $screen-sm-min){
        padding: 120px 40px;
    }
    
    @media (min-width: $screen-lg-min){
        padding: 160px 40px;
    }
    
    
}

.bannertype{
    text-align: center;
    
    @media (min-width: $screen-sm-min){
        max-width: 700px;
        margin: 0 auto;
        display: block;
    }
    
    @media (min-width: $screen-md-min){
        max-width: 850px;
    }
    
    @media (min-width: $screen-lg-min){
        max-width: 1070px;
    }
}

.readmore{
    background: url('../images/next.png') no-repeat;
    width: 70px;
    height: 70px;
    display: inline-block;
    margin: 30px auto 0 auto;
    @include transition(all .2s ease-in-out);
    position: relative;
    top: 0px;
    
    @media (min-width: $screen-sm-min){
        margin-top: 70px;
    }
    
    @media (min-width: $screen-md-min){
        margin-top: 70px;
    }
    
    @media (min-width: $screen-lg-min){
        margin-top: 100px;
    }
}

.readmore:hover{
    top: 5px;
}

/*Panels*/
.panel-border-top{
    border-top: 1px solid $borders;
}

.panel-padding-lg{
    padding-top: 50px;
    padding-bottom: 50px;
    @media (min-width: $screen-sm-min){
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.panel-padding-lg-none{
    padding-top: 50px;
    padding-bottom: 0px;
    @media (min-width: $screen-sm-min){
        padding-top: 100px;
        padding-bottom: 0px;
    }
}

.panel-padding-md{
    padding-top: 70px;
    padding-bottom: 70px;
}

.panel-padding-sm{
    padding-top: 15px;
    padding-bottom: 15px;
}

.blue-bg-panel{
    @include coverbg;
    background: url('../images/panel-bg.jpg') no-repeat;
}

.grey-bg-panel{
    @include coverbg;
    background: #e2e2e2;
}

.center-title{
    text-align: center;
}

.center-title h1{
    margin-bottom: 10px;
    font-size: 36px;
    @media (min-width: $screen-sm-min){
            font-size: 56px;
    }  
}

.center-title p{
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.center-title p.xwide{
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
}

.center-title .cta{
    margin-top: 10px;
}

.left-title{
    @extend .center-title;
    @media (min-width: $screen-sm-min){
            text-align: left;
    }   
}


/*Feed Lists*/

.feed_ul{
    margin-bottom: 30px;
    padding: 0px;
    list-style-type: none;
}

.feed_ul li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.feed_ul li:last-child{
    border-bottom: 0px;
}

.feed_ul li article a{
    padding: 18px 10px;
    color: #fff;
    display: block;
    width: 100%;
    position: relative;
    @include transition(all .2s ease-in-out);
}

.feed_ul li article a:hover{
    background: rgba(0,0,0,0.2);
}

.feed_ul li .updated,
.feed_ul li .eventdate
{
     color: #fff;
     float: right;
     display: none;    
     /*border: 1px solid #fff;
     @include border-radius(2px);
     width: 70px;
     display: inline-block;
     text-align: center;*/
     
    @media (min-width: $screen-xs-min){
            display: inline-block;
    }
    
    @media (min-width: $screen-md-min){
            display: none;
    }
    
    @media (min-width: $screen-lg-min){
            display: inline-block;
    }
}


/*Twitter Feed*/

.widget_twitter h2.widgettitle{
    display: none;
}

.widget_twitter ul{
    list-style-type: none;
    padding: 0px;
}

.widget_twitter ul li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding: 18px 0px 18px 80px;
    color: #fff;
    background: url('../images/twitter.svg') no-repeat left 20px;
}

.widget_twitter ul li:last-child{
    border-bottom: none;
}

.widget_twitter ul li a{
    color: #fff;
}

.widget_twitter ul li .from-meta,
.widget_twitter ul li .intent-meta
{
    display: none;
}

.widget_twitter ul li .time-meta{
    display: block;
    letter-spacing: 0.4px;
    font-size: 13px;
}


/*Promo Boxes*/
.promo_box {
    position: relative;
}

.promo_img{
    width: auto;
    max-width: 100%;
    display: block;
}

.promo_btm{
    border: 1px solid $borders;
    border-top: none;
    padding: 40px 30px;
    margin-bottom: 30px;
}

.promo_box h4{
    text-transform: uppercase;
    background: $brand-primary;
    position: absolute;
    top: 0px;
    left: 15px;
    padding: 12px 16px;
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    font-family: $secondary-font;
    letter-spacing: .3px;
}

/*Page Header Default*/
.pagehead-default .page-header{
    border-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
}

.pagehead-default h1{
    color: #fff;
}

//Cover Panels
.cover_panel{
    @extend .col-md-4, .col-sm-6;
    margin-bottom: 30px;
}

.cover_panel .inner{
    position: relative;
}

.cover_panel img{
    display: block;
    position: relative;
    width: auto;
    max-width: 100%;
    height: auto;
}


.cover_panel .dark{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4);
}

.cover_panel .dark:hover{
    background: rgba(0,0,0,0.5);
}

.cover_panel .type{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    height: 80px;
    margin-top: -40px;
    
    @media (min-width: $screen-xl-min){
        padding-left: 60px;
        padding-right: 60px;
        margin-top: -40px;
    }
    
}

.cover_panel h3{  
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 5px;
    
    @media (min-width: $screen-xs-min){
        font-weight: 300;
        font-size: 30px;
        line-height: 38px;
    }
    
    @media (min-width: $screen-sm-min){
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
    }
    
    @media (min-width: $screen-md-min){
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
    }
    
    @media (min-width: $screen-xl-min){
        font-weight: 300;
        font-size: 30px;
        line-height: 38px;
    }
    
}

.cover_panel span{
    width: 100%;
    position: absolute;
    height: 50px;
    line-height: 50px;
    text-align: center;
    bottom: 0px;
    left: 0px;
    border-top: 1px solid rgba(255,255,255,0.7);
}

.cover_panel span i{
    margin-left: 5px;
    position: relative;
    @include transition(all .2s ease-in-out);
    display: inline-block;
    left: 0px;
}

.cover_panel .dark:hover span i{
    left: 3px;
}


//Cover Panels Content
.cover_panel_content{
    @extend .cover_panel;
    @extend .col-md-6, .col-sm-6; 
}

.cover_panel_content img{
    width: 100% !important;
    @media (min-width: $screen-sm-min){
        height: 220px; 
    }
    @media (min-width: $screen-md-min){
        height: 176px; 
    }
    @media (min-width: $screen-lg-min){
        height: 246px; 
    }
    @media (min-width: $screen-xl-min){
        height: 311px; 
    }
    
}


/*Content Standard*/
.content_inner{
    padding: 0px;
        @media (min-width: $screen-md-min){
            padding: 40px 0 30px 30px;
        }
        
        @media (min-width: $screen-lg-min){
            padding: 40px 0 30px 50px;
        }
}

.content_image{
    display: block;
    width: auto;
    max-width: 100%;
    margin-bottom: 30px;
}

.section_intro_content{
    margin-bottom: 30px;
}


/*Widget*/
.widget_select{
    @include coverbg;
    height: 240px;
    position: relative;
    margin-bottom: 30px;
    left: 1px;
    
        @media (min-width: $screen-md-min){
            margin-right: 15px;
        }
    
}

.widget_select h3,
.widget_select p
{
    margin-bottom: 8px;
}

.widget_select .inner{
    background: rgba(0,0,0,0.2);
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.widget_select .widget_type{
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    padding: 0 15px 0 20px;
}

.widget_select i{
    margin-left: 5px;
}


/*Widget Alt*/
.widget_select_alt{
    display: block;
    position: relative;
        @media (min-width: $screen-md-min){
            margin-right: 15px;
        }
}

.widget_select_alt img{
    display: block;
    width: auto;
    max-width: 100%;
}

.widget_select_alt h3{
    position: absolute;
    top: 0px;
    left: 0px;
    background: $brand-primary;
    padding: 6px 15px;   
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    font-family: $secondary-font;
    letter-spacing: .3px;  
}

.widget_textbox{
    border: 1px solid $borders;
    border-top: 0px;
    padding: 30px;
    display: inline-block;
        @media (min-width: $screen-md-min){
            margin-right: 15px;
        }
}


/*Woo Commerce*/

.woocommerce .products .product-category{
    display: none;
}

.products {
    margin:0px !important;
}

.products .product{
    text-align: center;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 300;
}

.products .product h3{
    padding: 0px !important;
    /*height: 26px !important;*/
    line-height: 24px;
    margin-bottom: 15px !important;
}

.products .product .amount{
    color: #333;
}

.products .product a.button,
.woocommerce button.button.alt,
.woocommerce input.button,
.woocommerce a.button.alt,
.woocommerce input.button
{
    margin-top: 0px !important;
    @extend .cta;
    font-weight: 300;
}

input#place_order{
    margin-top: 0px !important;
    @extend .cta;
    font-weight: 300;
}

.woocommerce-checkout-payment{
    background: $greybg !important;
}

.woocommerce button.button.alt{
    padding: 17px 20px !important;
}

.woocommerce select,
.woocommerce input
{
    border: 1px solid $borders;
    @include border-radius(4px);
    padding: 10px;
}

#coupon_code{
    padding: 12px 10px;
}

.woocommerce-ordering{
    width: 100%;
    display: block;
        @media (min-width: $screen-xs-min){
            width: auto;
            display: inline-block;
        }
        
        @media (min-width: $screen-md-min){
            position: relative;
            bottom: 10px;
        }
}

.woocommerce-ordering .orderby{
    width: 100%;
}

.woocommerce-result-count{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
}

.product_single_wrap{
    @extend .col-md-12;
    /*padding-top: 40px;*/
}

.product_single_wrap .summary,
.product_single_wrap .images{
    margin-bottom: 0px !important;
}

.product_single_wrap .product_title{
    margin-bottom: 0px;
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 20px;
}

.single_related .woocommerce-tabs{
    display: none;
}

.single_related{
    @extend .col-md-12;
}

.single_related h2{
    margin-left: 14px;
}

.single_related ul.products li.product{
    width: 100% !important; 
    margin-right: 0px;
    margin-bottom: 30px;
    padding: 0 15px;
         @media (min-width: $screen-xs-min){
            width: 50% !important;
        }
        @media (min-width: $screen-sm-min){
            width: 25% !important;
            margin-bottom: 0px;
        }  
}

.single_related ul.products li.product:last-child{
    margin-bottom: 0px;
}

.single_related h2{
    text-align: center;
    margin-bottom: 40px;
    display: none;
    }


.single_desc .related,
.single_desc .tabs{
    display: none;
}

.woocommerce div.product p.price{
    color: $brand-primary !important;
    margin-left: 2px;
}

.entry-summary .product_meta{
    border-top: 1px solid $borders;
    border-bottom: 1px solid $borders;
    margin-bottom: 20px;
    padding: 10px 0;
}

.single_desc .entry-content,
.desc_mob .entry-content
{
    border-bottom: 0px;
    box-shadow: none;
    border-radius: 0px;
    @media (min-width: $screen-md-min){
    border-bottom: 1px solid $borders;
    }
}

.woocommerce-tabs .ssba{
    display: none;
}

.ssba{
    width: auto;
    display: inline-block;
    font-family: $primary-font !important;
    font-style: normal;
    font-weight: 300;
    font-size: 16px !important;  
}

.desc_mob{
    display: none;
        @media (min-width: $screen-sm-min){
            display: block;
            clear: both;
            padding-top: 30px;
        }
        @media (min-width: $screen-md-min){
            display: none;
        }
}

.single_desc{
        @media (min-width: $screen-sm-min){
         display: none;
        }
        @media (min-width: $screen-md-min){
         display: inline-block;
        }
        
}

.desc_mob .related,
.desc_mob .tabs{
    display: none;
}

.woocommerce-cart .main,
.woocommerce-checkout .main
{
    margin-bottom: 60px;
    @extend .col-md-10, .col-md-offset-1;
        @media (min-width: $screen-md-min){
        /*width: 100%;*/
        }
}


.woocommerce-cart .page-header{
    border-bottom: 0px;
    margin-bottom: 0px;
}

.cart_totals table{
    width: 100%;
}

.woocommerce-checkout input[type='text'],
.woocommerce-checkout input[type='password'],
.woocommerce-checkout select,
.woocommerce-checkout textarea
{
    padding: 15px;
    @include border-radius(2px);
    box-shadow: none;
}

.woocommerce-checkout textarea{
    border: 1px solid $borders;
}

.woocommerce-checkout .select2-choice
{
    padding: 10px 15px;
    @include border-radius(2px);
    box-shadow: none;
}

.woocommerce-checkout h3 label{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
}

ul.payment_methods li.payment_method_cheque{
    display: none !important; 
    }
    
.logged-in ul.payment_methods li.payment_method_cheque{
    display: block !important; 
    }



.downloads{
    @extend .btn;
    background:  $brand-primary !important;
    color: #fff !important;
    margin-bottom: 20px;
}

.downloads a{
    background:  $brand-primary !important;
    color: #fff !important;
}


.single-tribe_events #tribe-events-header{
    display: block;
    }	




#tribe-bar-form input[type="text"]{
    background: #fff;
    border-bottom: 0px;
    padding: 10px;
    margin-top: 5px;
}


.tribe-events-schedule span.dtend{
    font-size: 13px;
    font-weight: 300;
}


.coupon{
    display: none !important;
}



.shop_links a{
    display: block;
    margin-bottom: 10px;
    margin-right: 10px;
    @extend .cta;
    padding: 6px 10px !important;
    background: #9e9e9e;
    @media (min-width: $screen-sm-min) {
        display: inline-block;
        margin-bottom: 0px;
    }
}

.info_dialogue{
    background: #e2e2e2;
    padding: 10px;
    @include border-radius(4px);
}

.info_dialogue i{
    color: $brand-primary;
    margin-right: 5px;
    margin-left: 5px;
}

.info_dialogue a{
    cursor: pointer;
}




/*Contact*/
.contact_panel{
    @extend .col-md-6;
}

.contact_panel .widget{
    margin: 0 0 30px 0 !important;
    width: 100% !important;
}

.contact_panel .widget h2{ 
    display: none;
}


//Responsive Video 
.video-container{
  position: relative; 
  padding-bottom: 30.25%;
  padding-top: 10px;
  height: 0;
  height: 400px;
  overflow: hidden;
  
  @media (min-width: $screen-sm-min) {
      height: 500px;
  }
  
  @media (min-width: $screen-md-min) {
      height: 600px;
  }
  
   @media (min-width: $screen-lg-min) {
      height: 560px;
  }
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }


/*Training*/
.tribe-bar-filters, #tribe-bar-form{
    background: $greybg;
}

.tribe-bar-filters{
    padding: 5px;
}

.tribe-events-button{
    background: $brand-primary !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    border-radius: 4px !important;
    padding: 12px 20px 14px 20px !important;
    height: auto !important;
    @include transition(all .2s ease-in-out);
    text-transform: none !important;
    font-size: 16px !important;
    font-weight: 300 !important;
}

.tribe-events-button:hover{
        background: $brand-primary-dark !important;
        color: #fff !important;
}

.label-tribe-bar-date,
.label-tribe-bar-search,
.tribe-bar-views-inner label
{
    font-weight: 600 !important;
    font-size: 16px !important;
}

h2.tribe-events-page-title{
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 20px !important; 
    position: relative;
    text-align: left;
}

.events_title_fix{
    width: 30px;
    height: 40px;
    background: #fff;
    position: absolute;
    left: -10px;
    top: 0px;
    display: none;
}

h2.tribe-events-page-title a{
    display: none;
}


.tribe-events-content .tribe-events-loop {
    width: 100%;
}

.events-list .tribe-events-loop{
    width: 100% !important;
    @media (min-width: $screen-lg-min) {
     min-width: 790px !important;
    }
    
    @media (min-width: $screen-xl-min) {
      min-width: 990px !important;
    }
}

.tribe-events-list-separator-month{
  background: $brand-primary;
  padding-bottom: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.tribe-events-list-separator-month span{
  background: $brand-primary;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}

.tribe-events-list-separator-month::after{
    border-bottom: none !important;
}

.tribe-events-list-event-title
{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
}

.tribe-events-loop .tribe-events-event-meta {
    font-weight: 300 !important;
    letter-spacing: 0.4px;
    padding: 0px;
    margin: 4px 0 4px 2px;
    border: 0px;
    background: none;
}

.tribe-events-loop .tribe-events-event-meta .published{
    padding: 0px;
}

.type-tribe_events{
    position: relative;
}

.tribe-events-read-more{
    @media (min-width: $screen-sm-min) {
     /*float: right;
     position: absolute;
     right: 0px;
     top: 20px;*/
     background: $brand-primary;
     @include border-radius(4px);
     padding: 12px 20px;
     color: #fff;
     height: auto;
     @include transition(all .2s ease-in-out);  
     display: inline-block;
     margin-bottom: 15px;  
    }
}

.tribe-events-read-more:hover{
    @media (min-width: $screen-sm-min) {
    color: #fff;
    background: $brand-primary-dark;  
    }
}  


.tribe-events-venue-details{
    padding-left: 0px !important;
    }

.tribe-events-loop .tribe-events-event-meta{
    margin-bottom: 30px;
}

.tribe-events-event-meta span{
    font-style: normal !important;
    font-weight: 300 !important;
}

.vevent{
    border-bottom: 1px solid $borders !important;
    padding-top: 15px !important;
    padding-bottom: 10px !important;
}

.vevent:last-child{
    border-bottom: none !important;
}

#tribe-events-footer{
   border: none !important;
}

.tribe-bar-views-option-day{
    display: none !important;
}

.tribe-events-ical,
.tribe-events-gcal
{
    display: none !important;
}

.tribe-events-schedule{
    margin: 3px 0 12px 2px;
    letter-spacing: 0.4px;
    border-bottom: 1px solid $borders;
    padding-bottom: 12px;
    
}

.tribe-events-schedule .date-start{
    font-size: 13px;
    font-weight: 300; 
}

.tribe-events-single-section{
    background: $greybg !important;
    border: none !important;
    padding: 10px;
}

h3.tribe-events-single-section-title{
    font-style: normal;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 32px !important;
    margin-bottom: 15px !important;
}

.tribe-events-meta-group dt{
    margin-bottom: 5px;
}

.tribe-events-back{
    display: none;
}

.tribe-bar-date-filter{
    display: none;
}


.tribe-bar-mini .tribe-bar-submit{
    @media (min-width: $screen-lg-min){
        margin-left: 190px;
        margin-top: 5px; 
    }
    @media (min-width: $screen-xl-min){
        margin-left: 330px;
        margin-top: 5px; 
    }
}

.member_discount{
    display: inline-block;
    margin-left: 10px;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;  
    width: auto;
    height: auto;
    position: relative; 
    right: auto;
    top: auto;
    text-align: left;
    border-left: none;
    
    @media (min-width: $screen-sm-min){
        width: auto;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    @media (min-width: $screen-md-min){
        background: none;
        @include border-radius(0px);
        padding: 0px;
        color: $brand-primary;
        height: auto;
        margin-top: 0px;
        right: 0px;
    } 
}

.member_discount:hover{
    cursor: pointer;
    @media (min-width: $screen-md-min){
        background: none;
    }
}

.tandc{
    margin-top: 15px;
    margin-bottom: 20px;
    display: block;
    position: relative;
    padding-left: 35px;
}

.tandc input{
    margin-right: 5px;
}

.tandc_checkbox{
    border: 1px solid $darkborders;
    width: 25px;
    height: 25px;
    @include border-radius(4px);
    display: inline-block;
    margin-right: 6px;
    position: absolute;
    top: 1px;
    left: 0px;
    text-align: center;
    line-height: 20px;
}

.tandc_checkbox i{
    color: $brand-primary;
    font-size: 15px;
    display: none;
}
.single-tribe_events .tribe-events-list #tribe-events-footer{
    display: none;
}

.other_courses ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.other_courses ul li{
    border-bottom: 1px solid $borders;
    padding: 10px 0 10px 0;
}

.other_courses ul li:last-child{
    border-bottom: none;
}

.other_courses h3{
   margin-bottom: 10px; 
}


.extradate{
    font-size: 13px;
    position: relative;
    top: 1px;
}

.single-tribe_events .tribe-events-schedule .tribe-events-cost{  
   font-size: 13px;
   position: relative; 
   top: 1px;
}

.tribe-events-divider{
    position: relative;   
    top: 2px;
}


.single-tribe_events .tribe-events-sub-nav{
    display: none;
}


/*Hide on archive event pages*/
.post-type-archive-tribe_events .other_courses{    
    display: none !important; 
}

.single-tribe_events h2.tribe-events-single-event-title{ 
    line-height: 46px;
}


//Ticket Fixes
.tribe-events-tickets .tickets_name{
    @media (min-width: $screen-xs-min){
        display: none;
    }
    @media (min-width: $screen-lg-min){
        display: block;
        border-bottom: none !important;
        position: relative;
        top: -1px;
        border-bottom: none;
        padding-top: 30px;
    }
    
}





/*Listings*/

.listings{
    list-style-type: none;
    padding: 0px;
    margin-bottom: 30px;
}

.listings li{
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid $borders;
}

.listings li:last-child{
    border-bottom: none;
}

.listings li h3{
    margin-bottom: 2px;
}

.listings li h3 a{
    color: #333;
}

.listings li span{
    margin-bottom: 20px;
    display: inline-block;
    color:  $brand-primary;
}

.single_vacancy h2{
    margin-bottom: 2px;
}

.single_vacancy span{
    margin-bottom: 20px;
    color:  $brand-primary;
    display: inline-block;
}

.single_vacancy{
    margin-bottom: 40px;
}


/*Staff*/
.staff_listing{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.staff_listing img{
    display: block;
    width: auto;
    max-width: 100%;
    margin-bottom: 0px;
}

.staff_listing li{
    margin-bottom: 20px;
        @media (max-width: 400px) {
              width: 100%;
        }
}

.staff_listing .details{
    border: 1px solid $borders;
    border-top: 0px;
    padding: 15px;
    
    @media (min-width: $screen-xs-min){
        height: 110px;
    }
    
    @media (min-width: $screen-sm-min){
        height: 130px;
    }
    
    @media (min-width: $screen-md-min){   
        height: 130px;
    }

}

.staff_listing .details p{
    margin-bottom: 0px;
    font-size: 12px;
    line-height: 20px;
    @media (min-width: $screen-sm-min){
       font-size: 14px;
    }
}

/*Press releases*/

.pressrelease{
    @extend .listings;
}

.pressrelease li{
    position: relative;
    padding-bottom: 10px;
    padding-right: 20px;
    @media (min-width: $screen-sm-min) { 
       padding-right: 145px;
    }
}

.pressrelease .cta{
    display: none;
    float: right;
    position: absolute;
    right: 0px;
    top: 0px;
    @media (min-width: $screen-sm-min) {
      display: inline-block;
    }
}



/*Current Applications*/

.currentapps{
    @extend .pressrelease;
    position: relative;
}

.currentapps .closebox{
    position: absolute;
    right: 30px;
    top: 30px;
    background: $brand-primary;
    @include border-radius(4px);
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    @include transition(all .2s ease-in-out);
    display: inline-block;
    text-align: center;
}

.currentapps .closebox:hover{
    cursor: pointer;
}

.currentapps span{
    margin-bottom: 0px !important; 
}

.currentapps i{  
    font-size: 18px;
}

.currentapps li{
    padding: 30px;
    border: 1px solid $borders; 
}

.currentapps li:last-child{
    border-bottom: 1px solid $borders;
    margin-bottom: 30px;
}

.currentapps li p{
    margin-bottom: 0px;
    margin-top: 20px;
}

.currentapps li p span{
    font-weight: 600;
    color: #333;
    margin-bottom: 0px;
}

.currentapps li h3{
    padding-right: 80px;
}



/*Branches*/
.branch_details{
    @extend .col-sm-12, .col-md-6;
}

.branch_map{
    @extend .col-sm-12, .col-md-6;
}


//Responsive Map Branches
.map-container{
@extend .video-container;
  height: 300px;
  
  @media (min-width: $screen-xs-min) {
      height: 400px;
  }
  
  @media (min-width: $screen-sm-min) {
      height: 500px;
  }
  
  @media (min-width: $screen-md-min) {
      height: 330px;
  }
  
   @media (min-width: $screen-lg-min) {
      height: 300px;
  }
  
   @media (min-width: $screen-xl-min) {
      height: 330px;
  }
  
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }


/*Waypoints*/
.nav_waypoint{
    width: 100%;
    display: inline-block;
    height: 1px;
    position: absolute;
    top: 60px;
    top: 142px;
    top: 400px;
    }
    
.fixed_waypoint{
    width: 100%;
    display: inline-block;
    height: 1px;
    position: absolute;
    top: 142px;
    }
    
.top_waypoint{
    width: 100%;
    display: inline-block;
    height: 1px;
    position: absolute;
    top: 110px;
}

.banner_wrap{
    /*@include transition(all 0.8s ease-in-out);*/
    @include transition(all 0.5s ease-in-out);
}

.banner_margin{
    margin-top: -80px; 
}

.fixednav{
    top: -80px;
    position: fixed;
    display: block;
    left: 0px;
    width: 100%;
    z-index: 2000;
    background: #fff;
    @include transition(all 0.5s ease-in-out);
    top: 0px;
    
    @media (min-width: $screen-md-min){
        top: -142px;
        height: 142px;
        position: fixed;
        display: block;
        left: 0px;
        width: 100%;
        z-index: 2000;
        background: #fff;
        @include transition(all 0.5s ease-in-out);
        top: 0px;
    }
}


.fixednav .container,
.fixednav .banner
{
    background: #fff;
}

.fixednav .container,
.fixednav .banner,
.fixednav a.brand,
.fixednav .nav_full,
.fixednav .nav_search,
.fixednav .nav_login,
.fixednav .my_select 

{
     @include transition(all 0.5s ease-in-out);
}


.nav_absolute{
    top: 0px;
}

.nav_fixed_hide{
    top: -80px;
    @media (min-width: $screen-md-min){
        top: -142px;
    }
}

.narrownav{
    @include transition(all 0.5s ease-in-out);
    height: 80px;
}
.narrownav .banner
{
    @media (min-width: $screen-md-min){
        height: 80px;
        @include transition(all 0.5s ease-in-out);
        border-bottom: 1px solid $borders;
    }
}

.narrownav .container
{
    @media (min-width: $screen-md-min){
        height: 78px;
        @include transition(all 0.5s ease-in-out);
    }
}

.narrownav .nav_full,
.narrownav .nav_login,
.narrownav a.brand
{
    @media (min-width: $screen-md-min){
        margin-top:15px;
    }
}

.narrownav .nav_search{
    @media (min-width: $screen-md-min){
        margin-top:0px;
    } 
}

.narrownav .my_select{
    @media (min-width: $screen-md-min){
        margin-top:15px; 
    } 
}

/*Hide original nav but keep height*/
.nav_default,
.nav_default .container,
.nav_default .banner,
.nav_default a.brand,
.nav_default .nav_full,
.nav_default .nav_search,
.nav_default .nav_login{
    opacity: 0.0 !important;
    background: none;
}




/*Search*/
.search-results article{
    border-bottom: 1px solid $borders;
    padding-top: 30px;
    padding-bottom: 30px;
}

.search-results article:first-child{
    padding-top: 0px;
}

.search-results article .entry-title{
    margin-bottom: 0px;
    font-size: 30px;
    font-family: $primary-font;
}

.search-results article .entry-title a{
    color: #333;
}





/*Preloader*/
#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff;
    z-index:21000; 
    }
    
#status{
    width:200px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    background-image:url(../images/status.gif); 
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px;
    }
    
.loaderbar{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 8px;
    background: #e8e8e8;
    background: $brand-primary;
    display: inline-block;
    width: 0%;
    @include transition(all .4s ease-in-out);
    }

.loaderbar-animate
{
-webkit-animation: loaderanimate 2s 1 normal 0 running forwards;
-moz-animation: loaderanimate 2s 1 normal 0 running forwards; 
animation: loaderanimate 2s 1 normal 0 running forwards;
}  

@-webkit-keyframes loaderanimate {
  0% {width: 0%;}
  40% {width: 40%;}
  60% {width: 60%;}
  80% {width: 80%;}
  90% {width: 90%;}
}

@-moz-keyframes loaderanimate {
  0% {width: 0%;}
  40% {width: 40%;}
  60% {width: 60%;}
  80% {width: 80%;}
  90% {width: 90%;}
}
.loaderbar-complete{
    width: 100% !important;
}


//Attendees
#attendee_details{
    margin-bottom: 30px;   
    margin-top: 30px;
    float: right;
    
    @media (min-width: $screen-sm-min){
        width: 100% !important;
    }
}




//Contractor Search
.con_wrap .btn-group{
    background: #2879a4; 
    width: 100%;
}

.con_wrap .btn-group a{ 
    font-size: 11px;
    padding: 14px 11px;
    background: #2879a4;
    border: 1px solid #2879a4;
    color: #fff;
    display: inline-block;
    border-radius: 0px;
}

.con_wrap .btn-group a img{
    display: none;
    margin: 0 auto 10px auto;
}

.con_wrap .btn-group a:hover{
    background: #1f6080;
    border: 1px solid #1f6080;  
    color: #fff;
}

.con_wrap .btn-group a.btn-success{
    border: 1px solid #1f6080;
    background: #1f6080;
}

.con_wrap .form-group{
    border: 1px solid #d9d9d9;
    border-top: 0px;
    padding: 30px;
}

.con_wrap .form-group input{ 
    height: 60px;
    box-shadow: none;
    padding-left: 50px;
    margin-bottom: 30px;
}

.con_wrap #postcode{
   background: url(../images/i-location.gif) no-repeat 10px;  
}

.con_wrap #companyname{
    background: url(../images/i-company.gif) no-repeat 10px;  
}

.con_wrap select.form-control{
    height: 60px;
    box-shadow: none;
    padding-left: 50px;
    margin-bottom: 30px;
    width: 100%;
}

.con_wrap #sort{
   background: url(../images/i-grouping.gif) no-repeat 10px; 
}

.con_wrap #distance{
   background: url(../images/i-distance.gif) no-repeat 10px;     
}

.con_wrap #sizecontract{
    padding-left: 10px !important;
}

.con_wrap .checkbox{
    border-bottom: 1px solid $borders;
    padding-top: 5px; 
    padding-bottom: 10px;
}

.con_wrap .checkbox:last-child{
    border-bottom: none;
}

.con_wrap label{
    font-weight: 300;
}

.con_wrap .btn{
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 300; 
}

.con_wrap input[type='checkbox']{ 
    height: 20px;
}

@media screen and (min-width: 500px) {
    .con_wrap .form-group{
        padding: 50px;
    }
}

@media screen and (min-width: 700px) {
    .con_wrap .btn-group a{
        padding: 20px 36px;
        border-left: 1px solid #1f6080;
        width: 198px;
        position: relative;
        font-size: 13px !important;    
    }
    
    .con_wrap .btn-group a:nth-child(2){ 
        position: relative;
        left: 1px;
    }
    
    .con_wrap .btn-group a:nth-child(3){
        position: relative;
        left: 2px;
    }
    
    .con_wrap .btn-group a:last-child{
        border-right: 1px solid #1f6080;
    }
    
    .con_wrap .btn-group a:hover{
        border-right: 1px solid #1f6080;
    }
      
    .con_wrap .btn-group a img{
        display: block;
    }
    
}


@media screen and (min-width: 900px) {  
    .con_wrap .btn-group a{
        width: 180px;
    }
}

@media screen and (min-width: 1200px) {
    .con_wrap .form-group{
        padding: 70px;
    }
    
    .con_wrap .btn-group a{    
        width: 198px;
    }
}


/*Contractor Search Results*/
.con_results_wrap{
    margin-top: 50px;
}

.con_search_results{   
    list-style-type: none;
    padding-left: 0px;
}

.con_search_results li{
    border-bottom: 1px solid $borders;
    padding: 10px 0;
}

.con_search_results li span{
    font-weight: 600;
}

.con_search_service{
    border: 1px solid $borders;
    padding: 40px;
}

.con_search_service ul{
    list-style-type: none;
    padding-left: 0px;
}

.con_search_service li{
    padding-bottom: 0px;
}

.con_search_service li i{
    color: $brand-primary;
    margin-right: 10px;
    font-size: 20px;
}

.con_search_head{
    position: absolute;  
    top: 0px;
    left: 0px;
    width: 2000px;
    height: 52px;
    background: #c3c3c3;
    top: -70px;
    
    @media (min-width: $screen-sm-min){
        top: -20px;
        left: -50px;
    }
    
    @media (min-width: 845px){
        left: -100px;
    }
    
    @media (min-width: $screen-md-min){
        top: 0px;
        left: 0px;
    }
    
    
}

.con_search_head a{
    height: 52px;
    line-height: 52px;
    background: #d9d9d9;
    color: #333;
    display: inline-block;
    padding: 0 60px;
}

.con_search_head a i{
    color: #333;
    font-size: 20px;
    color: $brand-primary;
    margin-right: 5px;
    position: relative;
    top: 1px;
}

/*Modifiers*/
.white{
    color: #fff;
}

.line_white{
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.line_white_inner{
    margin-bottom: 0px !important;
    padding-bottom: 8px;
    padding-right: 4px;
    border-bottom: 3px solid #fff;
    display: inline-block;
    position: relative;
    top: 1px;
}

.spacer_lg{  
    margin-bottom: 50px;  
    @media (min-width: $screen-sm-min){
    margin-bottom: 100px !important;
    }
}

.lb{
    display: inline-block;
    margin-bottom: 15px;
}

.scalable_h1{
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 20px;
    @media (min-width: $screen-sm-min){
        font-size: 56px;
        line-height: 70px;
    }
}

.divider{ 
    width: 100%;
    position: relative;
    display: block;
    border-top: 1px solid $borders;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.full_divider{
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
}

.divider_lg{
    @extend .divider;
    margin-top: 40px;
    margin-bottom: 40px;
}

.divider_none_lg{
    @extend .divider;
    margin-top: 0px;
    margin-bottom: 40px;
}

.divider_sm_lg{
    @extend .divider;
    margin-top: 20px;
    margin-bottom: 40px;
}